.btn {
  padding: 1rem 1.5rem;
  color: var(--brand-color);
  border-radius: var(--border-r-sm);
  border: 1px solid var(--brand-color);
  outline: none;
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

.btn:focus {
  outline: 2px solid var(--brand-color);
}

.btn:hover {
  opacity: 0.75;
}

@media (max-width: 576px) {
  .btn {
    display: none;
  }
}
