.form {
  position: relative;
  flex: 0 0 330px;
  border-radius: var(--border-r-lg);
  border: 1px solid var(--brand-color);
  padding: 60px 40px 24px;
}

.tabs {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  justify-content: center;
}

.radio {
  display: none;
}

.navBtn {
  border-radius: 0 0 15px 15px;
  border: 1px solid var(--brand-color);
  background: var(--brand-color);
  color: #000;
  padding: 0.4rem 1.4rem;
  font-size: 15px;
  margin: -3px 0;
  cursor: pointer;
}

.navBtn:not(:disabled) {
  background: none;
  outline: none;
  border: none;
  color: var(--text-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 27px;
}
