.page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 16px;
}

.hero {
  padding: 7.6rem 0;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
}

.title {
  max-width: 28rem;
  font-size: 2.625rem;
  font-weight: 700;
}

.subtitle {
  max-width: 28rem;
  font-size: 1.125rem;
  line-height: 1.4rem;
}
