.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 1.5rem;
  border: 1px solid var(--border-color);

  /* Glassmorphism */
  background: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
}

.card:hover {
  border-color: var(--blure-brand-color);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rate {
  font-size: 32px;
  font-weight: 700;
}

.address {
  font-size: 14px;
  color: var(--text-light-color);
}

.location {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: none;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
}

.card:hover .location {
  display: flex;
}

.locationText {
  font-size: 13px;
  color: var(--text-light-color);
}

.iconWrapper {
  position: relative;
  width: 48px;
  height: 48px;
  padding: 1rem 1.2rem;
  background-color: var(--brand-color);
  border-radius: 15px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
